@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slider {
    height: 100%;
    width: 35%;
    position: absolute;
    left: 0;
    top: 0;
}

.left-slider > div {
    height: 100%;
    width: 100%;
}